@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;1,400;1,600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
}
body::before {
        content: "";
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(110, 156, 159, 0.95); /* здесь 0.5 - это значение прозрачности */
        z-index: 9999;
}

* {
    padding: 0;
    margin: 0;
}

.header {
    padding: 25px 0;
    background-image: url('Rectangle2.png');
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header .container {
    display: flex;
    align-items: center;
}

.logo {
    font-style: italic;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #000000;
    mix-blend-mode: normal;
    text-decoration: none;
    list-style: none;
}

.menu {
    margin-left: 224px;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu-item {
    margin-right: 45px;
}

.menu-item-phone {
    margin-left: 90px;
}

.menu-item a {

    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

.menu-item a:hover {
    color: #6E9C9F;
}

.main {
    background-position: right;
    padding: 104px 0 154px 0;
}
.main-img{
    background-position: right;
}
.main-info {
    max-width: 855px;
}

.main-title {
    font-weight: bold;
    font-weight: 500;
    font-size: 55px;
    line-height: 110%;
    color: #030305;
    margin-bottom: 40px;
    width: 585px;
    height: 122px;
}

.main-text {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    color: #030305;
    margin-bottom: 40px;
    max-width: 385px;
    height: 84px;
}

.button{
    width: 351px;
    height: 68px;
    border: none;
}

.button:hover {
    cursor: pointer;
}

.car {
    padding: 50px 100px;
}

.sub-title {
    font-weight: 500;
    font-size: 40px;
    line-height: 110%;
    color: #030305;
}

.car-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.car-item {
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    text-align: center;
}

.car-item-image:hover img {
    transform: scale(1.1);
}

.car-item-image img {
    vertical-align: bottom;
    transition: all .3s;
}

.car-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 110%;
    letter-spacing: 0.02em;
    color: #030305;
    padding: 17px 0 17px 0;
}

.car-item-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.car-info-point {
    width: 110px;
    height: 92px;
    font-weight: 500;
    font-size: 15px;
    line-height: 140%;
    margin: 0 7.5px;
    color: #998E78;
}

.car-info-point img {
    margin-bottom: 11px;
}

.car-item-action {
    margin-top: 13px;
}

.car-item-action .button {
    width: 100%;
    padding: 15px;
    height: 54px;
}

.car-info-point>div:nth-child(2) {
    font-weight: bold;
}
.main-text-vajno{
    padding: 50px 150px;
}
.main-text-vajno-items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.main-text-vajno-item{
    width: 33.33%;
    padding: 15px;
    box-sizing: border-box;
    text-align: left;
    margin-top: 20px;
}
.vajno-title{
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
    margin-bottom: 10px;
}
.vajno-text{
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
    margin-top: 10px;
}
.main-text-compani{
    background-color: #F1EADC;
    padding: 50px 150px;
    width: 757px;
    height: 786px;
}
.compani-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    margin-top: 20px;
}
.prioritet{
    padding: 50px 150px;
    width: 673px;
    height: 252px;
}
.prioritet-text{
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    margin-top: 50px;
}
.news{
    margin-left: 680px;
    margin-top: 30px;
    margin-bottom: 70px;
    padding-right: 200px;

}
.news-title{
    font-weight: 400;
    font-size: 40px;
    line-height: 110%;
    text-align: right;
    margin-bottom: 30px;

}
.news-text{
    width: 665px;
    font-weight: 400;
    font-size: 24px;
    line-height: 110%;
    margin-top: 25px;
    margin-bottom: 40px;

}
.price {
    overflow: hidden;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 1210px;
    background: #6E9C9F;
}
.form-title{
    text-align: center;
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    margin-bottom: 40px;
    margin-top: 40px;
}
.price .container{
    width: 100%;
    height: 1210px;
    background: #6E9C9F;
}

.price-form {
    position: fixed;
    padding: 0px;
    gap: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px 70px 74px;
    gap: 50px;
}

.price-input {
    padding: 35px 18px;
    width: 350px;
    height: 0px;
    background: #FFFFFF;
    border-bottom: 1px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
    box-sizing: border-box;
    font-size: 17px;
    color: #000000;
    outline: none;
    margin-bottom: 15px;
    margin-left: 70px;
}

.text-zakaz{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 155px;
    font-weight: 500;
    font-size: 25px;
    line-height: 140%;
}
.price-input::placeholder {
    color: #868686;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
}

.price .button {
    width: 342px;
    height: 68px;
    margin-left: 70px;
    margin-bottom: 60px;
}

.footer {
    background-color: #F1EADC;
    padding: 40px 25px;
}
.footer .logo{
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: left;
    max-width: 80px;
}
.footer .menu{
    padding-bottom:  10px;
}
.socl{
    margin-right: 10px;
    margin-top: 5px;
}
.menu-item-socl{
    text-align: right;
    margin-right: 15px;
}
.prava{
    font-weight: 400;
    font-size: 13px;
    line-height: 140%;
}
.footer .container {
    display: flex;
    
}
.naverx{
    position: fixed;
    width: 50px;
    height: 50px;
    bottom: 200px;
    right: 25px;
    background: #F1EADC;
    border-radius: 67px;
    border-color: transparent;
}
.strela{
    position: fixed;
    bottom: 211px;
    right: 35px;
    width: 30px;
    height: 30px;
}
.otzivna{
    position: fixed;
    bottom: 200px;
    left: 25px;
}
.otzivna img{
    width: 75%;
}
.container1 {
    position: relative;
    z-index: 10000;
}
.element {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
}

.emoji-options input{
    display: inline-block;
    margin-right: 17px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;

}
.input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    text-align: center;
}
a {
    text-decoration: none;
  }
.text-output {
    font-weight: 500;
    font-size: 35px;
    line-height: 140%;
    margin-bottom: 60px;
    display: flex;
    align-items: baseline;
    text-align: center;
}
a img{
 cursor: pointer;
}
label img{
    opacity: 0.5;
    transition: opacity 0.3s;
}

.emoji-options{
    background-color: white;
    width: 530px;
    height: 602px;
    padding: 50px 55px 0px;
}
label .imageee:first-child{
    opacity: 1;
    transition: opacity 0.3s;
}
.text-vopros{
    font-weight: 500;
    font-size: 20px;
    line-height: 140%;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: baseline;
    text-align: center;
}
.text-area{
    width: 409px;
    height: 171px;
    background: #D9D9D9;
    border: 1px solid #4E4E4E;
    backdrop-filter: blur(2px);
    margin-left: 40px;
}
.button{
    display: inline-block;
    width: 191px;
    height: 70px;
    background: #6E9C9F;
    border-radius: 67px;
    font-weight: 400;
    font-size: 18px;
    line-height: 360%;
    text-align: center;
    color: white;
    text-decoration: none;
    margin-top: 20px;
}
.button-otz{
    text-align: right;
}
